@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("User"))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
    
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hi: " + User.Identity.GetUserName() + "!", "GetUserProfile", new { UserId = User.Identity.GetUserId(), controller = "Applicant" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    if (User.IsInRole("Staff"))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Staff:  " + User.Identity.GetUserName() + "!", "Index", new { UserId = User.Identity.GetUserId(), controller = "Staff" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    if (User.IsInRole("Admin"))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Admin:  " + User.Identity.GetUserName() + "!", "Index", new { UserId = User.Identity.GetUserId(), controller = "Admin" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
